<!DOCTYPE html>
<html>

<head>
    <title>traggle</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/traggle.png">
</head>

<body>


    <h1> サービス終了のお知らせ </h1>
    <p>
        https://dacq.trap.show/ は2024年5月13日をもってサービスを終了いたしました。
        今後は後継である https://dacq-v2.trap.show/ をご利用ください。
        10秒後にリダイレクトします。
    </p>

    <script>
        setTimeout(() => {
            window.location.href = "https://dacq-v2.trap.show/";
        }, 10000);
    </script>



</html>